body, div, p, ul, li {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url('/images/texture.png');
	background-color: white;
	font-family: arial;
}
.container {
	background-color: white;
	width: 915px;
	margin: 0 auto;
}
.nav-bar {
	background-image: url('/images/top_bar.png');
	background-repeat: repeat-x;
	text-align: left;
	background-size: 2px 43px;
	padding: 10px;
}
.nav-bar ul li {
	display: inline;
	padding: 3px 22px;
}
.nav-bar a {
	text-decoration: none;
	color: white;
}
.nav-bar li:hover {
	background: black;
}
.nav-bar ul {
	margin: 0px;
	padding: 0px;
}
.logo {
	margin: 0 auto;
	padding: 15px;
}
.logo img {
	max-width: 130px;
}

.slide-image img {
	max-width: 484px;
}

.slide-image {
	text-align: right;
	padding-right: 14px;
	padding-bottom: 11px;
}

.content {
	font-size: 15px;
	margin-top: 20px;
	padding-bottom: 100px;
	color: gray;
}
.home-content {
	font-size: 15px;
	letter-spacing: 0px;
	color: gray;
}

.copyright {
	color: white;
	font-size: 10px;
}
.main-content p {
	margin: 27px 0px;
}
.main-content, .why-us-content, .serve-content, .what-we-do-content, .mission-content {
	margin: 0 auto;
	width: 889px;
}
.about-us-content, .mission-content{
	height: 400px;
}
.content h1{
	font-size: 19px;
	text-decoration: underline;
}
.content h2{
	font-size: 16px;
}
.why-us-content ul{
	padding-left: 41px;
}
.why-us-content p, .mission-content p{
	margin: 19px 0px;
}

.qualiy-belief-list p, .qualiy-obj-list p{
	font-weight: bold;
	font-size: 17px;
}

